.jam-toolbar {
  height: 50px;
  display: flex;
  justify-content: space-between;

  ul.jam-toolbar-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 0 0 10px;

    li.jam-toolbar-button-container {
      margin: 0 20px 0 0;
      flex-grow: 1;
      display: flex;
      align-items: center;

      .jam-toolbar-button {
        background: none;
        border: none;
        outline: none;
        padding: 5px 10px;
        color: rgba($white, 0.5);
        border-radius: 3px;
        font-family: "Jam", sans-serif;

        &.jam-toolbar-button-active {
          color: $white;
          background: rgba($white, 0.2);
        }
      }
    }
  }
}
