.jam-main-timeline-container {
  padding: 10px;
  height: 64px;
  border-bottom: 1px solid rgba($white, 0.05);
  display: flex;

  .timeline-left {
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    user-select: none;

    .play-button {
      width: 40px;
      height: 40px;
      margin: 0 10px 0 0;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 50px;
      background: rgba($white, 0.1);
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: rgba($white, 0.2);
      }

      .bp3-icon {
        position: relative;
        left: 1px;
      }
    }

    .jam-title-container {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-direction: column;
      justify-content: center;
      letter-spacing: 0.6px;

      .artist-name {
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .track-name {
        font-size: 12px;
        font-weight: 300;
        opacity: 0.6;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .timeline-right {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
